@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}



body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("images/field-0.8s-1536px.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 1s infinite alternate linear;
    height: 100%;
}

.logo{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: 25%;
}


.login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
}

.login-card>h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.login-card>h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 30px 12px 30px;
    font-weight: 500;
    margin: 0 12px 12px;
}

.form_separation {
    margin-top: 3%;
    margin-bottom: 3%;
    border: 3px solid rgb(4, 4, 4);
    border-color: #000;
    border-radius: 1.25rem;
}


.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    margin-top: 3%;
}

.login-form2 {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    margin-top: 10%;
}
.espace{
    margin-top: 5%;
}

.login-form>input,
.login-form>button {
    width: 100%;
    height: 50px;
}

.login-form>input {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.login-form>input:hover {
    border: 2px solid #4f0198;
}

.login-form>button {
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #45087d;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.login-form>button:hover {
    background: #000000;
}

.login-form>a {
    color: #216ce7;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}

.login-form>a :hover {
    color: #10449A;
}
.fancy{
    
        order: 2;
        color: #9c9c9c;
        font-weight: 900;
        text-transform: uppercase;
        /* font-size: clamp(3rem, 10vw, 6rem); */
        line-height: 0.75em;
        text-align: center;
        text-shadow: 3px 1px 1px #6e089e, 2px 2px 1px #000000, 4px 2px 1px #000000, 3px 3px 1px #5e0397, 5px 3px 1px #4a0781, 4px 4px 1px #74099f, 6px 4px 1px #4b0387, 5px 5px 1px #6f0da3, 7px 5px 1px #5a0498, 6px 6px 1px #4a07a7, 8px 6px 1px #820acd, 7px 7px 1px #f2a306, 9px 7px 1px #f2e206;
}

@keyframes rotate {
    100% {
        background-position: 15% 30%;
    }
}

@media (width >=500px) {
    body {
        padding: 0;
    }

    .login-card {
        margin: 0;
        width: 400px;
    }
}


